/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mai 2017, 12:01:07
    Author     : tkint
*/

#folder-top-panel {
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    height: 85px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#folder-top-panel .folder-name h1 {
    margin-top: 0;
}

#folder-name-form input[type="text"] {
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    height: 40px;
    border: none;
    background: none;
    font-size: 36px;
    font-weight: bold;
    box-shadow: none;
    color: #333;
    line-height: 1.1;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

#folder-name-form input[type="text"]:focus {
    outline: none;
}

#folder-name-text:hover {
    cursor: pointer;
}

#folder-name-text:hover>#folder-name-glyph {
    visibility: visible;
}

#folder-name-glyph {
    visibility: hidden;
}

#folder-tools {
    position: absolute;
    top: 0;
    margin-top: 50px;
}

#folder-list {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    margin-top: 85px;
    overflow-y: auto;
    overflow-x: hidden;
}

#folder-list a {
    display: block;
    margin: 0;
    padding: 0;
}

#folder-list label {
    cursor: pointer;
}

#folder-list a .thumbnail {
    margin: 0;
}

#folder-list a:hover .thumbnail {
    background: #339966;
}

#folder-list .grid-item {
    padding: 5px;
}

#folder-list .list-item {
    display: inline-block;
    width: 50%;
    padding: 5px;
}

#folder-list .list-item .thumbnail {
    display: inline-block;
    width: 100%;
    height: 100px;
}

#folder-list .list-item .thumbnail img {
    width: 100px;
    height: 100%;
    float: left;
    margin: 0;
}

#folder-list .list-item .thumbnail .caption {
    padding: 0;
    margin: 0;
    padding-left: 110px;
}

#playlistformaction {
    position: fixed;
    right: 0;
    margin-top: -70px;
    margin-right: 10px;
}

#playlist-search-result {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
}

#playlist-search-result ul {
    padding: 0;
    border: 1px black solid;
}

#playlist-search-result ul li {
    display: block;
    padding: 5px;
    margin: 0;
    height: 25px;
    cursor: pointer;
    border-bottom: 1px gray solid;
}

#playlist-search-result ul li:hover {
    background-color: #EEE;
}

#clear-cross {
    cursor: pointer;
}

.checkmusicfile input {
    visibility: hidden;
    position: absolute;
}

.checkmusicfile span {
    visibility: hidden;
}

.checkmusicfile input:checked + span {
    visibility: visible;
}