/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 11:44:52 AM
    Author     : t.kint
*/

.navbar-fixed-top {
    height: 70px;
    padding-top: 10px;
    padding-right: 20px;
}
.navbar-fixed-top input {
    margin-left: 2px;
}

.navbar-fixed-left {
    width: 200px;
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    border-radius: 0;
    margin-top: 69px;
    margin-bottom: 49px;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 200px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -70px;
    margin-left: 200px;
}

.navbar-fixed-right {
    width: 200px;
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    margin-top: 69px;
    margin-bottom: 49px;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-fixed-bottom {
    height: 50px;
    line-height: 45px;
    padding-right: 20px;
}