/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 11:44:52 AM
    Author     : t.kint
*/

body {
    overflow-y: hidden;
}

#panelTop {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 110px;
    background-color: black;
    z-index: 10000;
}

#panelTop .brand {
    margin: 5px auto;
}

#panelTop .brand a {
    display: inline-block;
}

#panelTop .brand a #brand-image {
    width: 75px;
    height: 75px;
    max-width: 75px;
    max-height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    transition: transform 1s;
}

#panelTop .brand a:hover #brand-image {
    transform: scaleX(-1);
    border: 5px solid #339966;
}

#panelTop .brand a:hover,
#panelTop .brand a:hover #brand-title {
    text-decoration: none;
    color: #339966;
    text-shadow: none;
}

#panelTop .brand a #brand-title {
    display: block;
    overflow: hidden;
    font-size: 12px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    text-shadow: 1px 1px black;
    padding: 0 5px;
}

#panelTop .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 110px;
    padding-left: 25px;
    padding-top: 35px;
}

#panelTop .left .input-group {
    min-width: 150px;
    width: 40%;
}

#panelTop .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 110px;
    padding-right: 25px;
    padding-top: 35px;
    text-align: right;
}

#panelTop .right .form-group {
    display: inline-block;
    margin: auto;
}

#panelTop .right .form-group input {
    display: inline-block;
    width: 30%;
    margin-right: 2px;
}

#panelTop .right .form-group input[type="submit"] {
    margin-top: -2px;
    width: auto;
}

#panelTop .right #panelRightButton {
    margin-right: 0px;
    transition: transform 0.5s;
    background: none;
    border: none;
    color: white;
}

#panelTop .right #panelRightButton:focus {
    outline: 0;
}

#panelTop .right #panelRightButton.switch {
    margin-right: 0px;
    transform: scaleX(-1);
    color: #339966;
}

#panelLeft, #panelRight {
    width: 200px;
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    border-radius: 0;
    margin-top: 110px;
    margin-bottom: 49px;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f5f5f5;
}

#panelLeft {
    left: 0;
    border-right: 1px solid #e3e3e3;
}

#panelLeft #accordion .panel-heading {
    margin: 0px;
    padding: 0px;
    background: white;
}

#panelLeft #accordion .panel-heading a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background: white;
}

#panelLeft #accordion .panel-heading a:hover,
#panelLeft #accordion .panel-heading a:focus {
    background: #f5f5f5;
    text-decoration: none;
}

#panelLeft #accordion .panel-body {
    margin: 0px;
    padding: 0px;
}

#panelLeft #accordion .panel-body .table,
#panelLeft #accordion .panel-body .table tr,
#panelLeft #accordion .panel-body .table tr td {
    margin: 0px;
    padding: 0px;
}

#panelLeft #accordion .panel-body .table tr td {
    border: none;
}

#panelLeft #accordion .panel-body .table tr:not(:first-child) td {
    border-top: 1px solid #ddd;
}

#panelLeft #accordion .panel-body .table a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
}

#panelLeft #accordion .panel-body .table a:hover {
    background: #f5f5f5;
    text-decoration: none;
}

#panelLeft #accordion .avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#panelLeft #accordion .avatar img {
    flex-shrink: 0;
    max-height: 160px;
    margin: auto;
}

#panelLeft #accordion .userName {
    width: 100%;
    height: 24px;
    background: #339966;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

#panelRight {
    right: 0;
    margin-right: -200px;
    border-left: 1px solid #e3e3e3;
    transition: margin-right 0.5s;
}

#panelRight.switch {
    margin-right: 0;
    transition: 0.5s;
}

#panelBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}

#panelBottom .copyright {
    height: 100%;
    width: 200px;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 20px;
    text-align: center;
}

#panelBottom .copyright h5 {
    margin: auto;
}

#content {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 0;
    margin-left: 200px;
    margin-top: 110px;
    margin-bottom: 50px;
    transition: margin-right 0.5s;
}

#content.switch {
    margin-right: 200px;
}

#content.visitor {
    margin-left: 0px;
}